div.loadDeals {
    font-size: medium;
    color: #cd9b9b;
    letter-spacing: -2px;
    font-family: 'PT Sans', sans-serif;
    margin: auto;
    width: 60%;
    border-bottom: groove;
}


h1 {
    text-align: left;
    letter-spacing: -1px;
    border-radius: 10px;

}


td.dealsParagraph {
    margin-top: 40px;
    float: left;
    width: 150px;
    position: absolute;
    font-size: large;
    color: black;
}
