div.loadDeals {
    font-size: medium;
    color: #cd9b9b;
    letter-spacing: -1px;
    font-family: 'PT Sans', sans-serif;
    margin: auto;
    width: 60%;
}


h1 {
    text-align: left;
    letter-spacing: -1px;
    border-radius: 1px;
    border-bottom: groove;
}


div#dealDisplay {
    padding: 50px;
    float: left;
    width: 150px;
    height: 150px;
    font-size: large;
    color: black;
}
